name: common

on:
  merge_group:
    types: [checks_requested]
  workflow_call:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  code-checking:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}-code-checking
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt,clippy
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

      - name: run lint
        run: cargo fmt --all --check

      - name: run check
        run: cargo check --all-features --tests --workspace

      - name: run clippy
        run: cargo clippy --all-targets --all-features --tests --workspace
