name: testing

on:
  merge_group:
    types: [checks_requested]
  workflow_call:
  pull_request:
    paths:
      - "Cargo.lock"
      - "Cargo.toml"
      - "src/**"
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  testing:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.ref }}-testing
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - name: prepare cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}
      - name: run tests
        run: cargo test --all-features
